.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem;
}

.imageSection {
  padding-right: 3rem;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formSection {
  flex: 1;
  max-width: 500px;
  background-color: transparent;
}

.title {
  text-align: left;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  text-align: left;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.input, .textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.input:focus, .textarea:focus {
  border-color: #0056b3;
  outline: none;
}

.textarea {
  height: 150px;
  resize: none;
}

.submitButton {
  padding: 0.8rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0056b3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #004494;
}

.submitButton:active {
  background-color: #003c82;
}

.successMessage {
  color: #28a745;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
  padding: 0.8rem;
  background-color: #d4edda;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
}

.errorMessage {
  color: #dc3545;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
  padding: 0.8rem;
  background-color: #f8d7da;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
}



/* Media Query para pantallas móviles */
@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column; /* Cambia la dirección a columna para móviles */
    align-items: flex-start; /* Alinea los elementos al principio */
  }

  .imageSection {
    padding-right: 0; /* Elimina el padding para ajustarse mejor en pantallas pequeñas */
    margin-bottom: 1rem; /* Añade un pequeño espacio entre la imagen y el formulario */
  }

  .image {
    max-width: 100%; /* La imagen ocupará todo el ancho disponible */
  }
}