.footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se apilen en pantallas pequeñas */
  justify-content: space-around;
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

.footer-column {
  margin: 1rem;
  flex: 1; /* Permite que las columnas se expandan y contraigan */
  min-width: 200px; /* Asegura un ancho mínimo */
}

.footer h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #f8f9fa;
  font-weight: 600;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin: 0.5rem 0;
}

.footer ul li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #fff;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-social a {
  color: #bbb;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
  color: #1db954;
  transform: scale(1.2);
}

.footer-logo {
  background-image: url('/vertexArts/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 200px;
  margin: 20px auto;
  margin-top: -20px;
}

.footer-bottom {
  margin-top: 2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #bbb;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }

  .footer-column {
    flex: 1 1 100%; /* Las columnas ocuparán el 100% del ancho */
    margin: 0.5rem 0;
  }

  .footer-logo {
    width: 200px;
    height: 120px;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}

/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .footer h4 {
    font-size: 1.2rem; /* Reducir el tamaño del título */
  }

  .footer-social a {
    font-size: 1.2rem; /* Reducir el tamaño de los íconos */
  }
}
