.accordion {
  font-family: 'Bernard MT Condensed regular';
  width: 250px;
  display: block;
  border-radius: 50px;
  font-size: 1.1rem;
  line-height: 1.6;
  background-color:#A67B5B;
}

.accordionContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.accordion:hover {
  background-color: #AA6600;
}

.panel {
  margin-top: 0.5rem;
  display: none;
  background-color: #d1d1d1c1;
  overflow: hidden;
  border-radius: 8px;
  padding: 1.5rem;
  min-height: 180px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.panel.show {
  display: block;
}

.aboutContainer {
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.aboutContainer h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
}

.aboutContainer p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
  text-align: justify;
  margin: 1rem 0;
}

.topImage {
  width: 96%;
  height: 70vh; 
  object-fit: cover;
  object-position: center top; 
  display: block;
  margin: 0 auto;
}

.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .topImage {
    height: 50vh;
  }

  .aboutContainer{
    padding-left: 10px;  
    padding-right: 10px; 
  }
}