/* Compromiso Page */
.compromisoContainer {
    max-width: 800px; /* Limita el ancho del texto */
    margin: 10rem auto; /* Centra el contenido en la página */
    padding: 2rem;
    background-color: #e7e8e0c1;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center;
  }
  
  .compromisoContainer h1 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 1rem;
  }
  
  .compromisoContainer p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8; /* Mejor legibilidad */
    text-align: justify;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 51vh; /* Ajusta la altura según tus preferencias */
    overflow: hidden;
  }
  
  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlayTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em; /* Ajusta el tamaño del título */
    font-weight: bold; /* Hace el título más grueso */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Añade una sombra al texto */
    background-color: rgba(0, 0, 0, 0.2); /* Añade un fondo semitransparente */
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .compromisoContainer {
    max-width: 800px;
    margin: 2rem auto; /* Ajusta el margen según sea necesario */
    padding: 2rem;
  }