.slider {
  width: 100%;
  height: 70vh; 
}

.slide {
  display: block;
  width: 100%;
  height: 100%;
}

.slideVideo {
  width: 96%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
}

.videoWrapper .slideVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideImage {
  width: 96%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .slider {
    height: 50vh; 
  }

  .slide {
    height: 100%;
  }

  .slideImage {
    height: 100%;
    background-size: cover;
  }
  
  .slideVideo {
    height: 100%;
    object-fit: cover;
  }

  .videoWrapper {
    padding-bottom: 0; /* Quitamos el padding bottom que genera el espacio extra */
    height: 50vh; /* altura fija, igual que el slider */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .videoWrapper .slideVideo {
    position: relative; /* Quitamos absolute */
    width: auto; /* ajustamos para que no ocupe todo el ancho */
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
  }
}


