/* Contenedor principal de la imagen */
.imageContainer {
  position: relative;
  width: 100%;
  height: 70vh;
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 2rem;
}

/* Contenedor de la galería */
.aboutContainer {
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.aboutContainer h1{
  color:#000000
}

.aboutContainer p {
  line-height: 1.8;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.categoriesLinks {
  text-align: center;
  margin-bottom: 20px;
}

.linksContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.categoryLink {
  font-family: 'Bernard MT Condensed regular', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #A67B5B;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
  letter-spacing: 3.5px;
}

.categoriesLinks h2 {
  color: #000000;
  margin-bottom: 5px;
}

.categoryLink:hover {
  background-color: #AA6600;
  color: #ffffff;
}

.slider {
  position: relative;
  width: 85%; 
  height: 100%; 
  display: block; 
  margin: 0 auto;
  overflow: hidden;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 75%; /* CAMBIADO: Prioriza más la parte inferior */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .slider {
    height: 50vh;
    width: 98%;
  }
  .aboutContainer{
    padding-left: 10px;  
    padding-right: 10px; 
  }

  .imageContainer {
    height: 50vh;
  }
}