/* Contenedor principal de la imagen */
.imageContainer {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 2rem;
}

.topImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
}

/* Contenedor de la galería */
.aboutContainer {
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  text-align: center;
  padding-left: 50px;  /* Agrega espacio a la izquierda */
  padding-right: 50px; /* Agrega espacio a la derecha */
}

.aboutContainer h1{
  color:#000000
}

.aboutContainer p {
  line-height: 1.8;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.categoriesLinks {
  text-align: center;
  margin-bottom: 20px;
}

.linksContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.categoryLink {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.categoriesLinks h2 {
  color: #000000;
  margin-bottom: 5px;
}

.categoryLink:hover {
  background: #f0f0f0;
}

.slider {
  position: relative;
  width: 96%; 
  height: 100%; 
  display: block; 
  margin: 0 auto;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .slider {
    height: 50vh;
  }
  .aboutContainer{
    padding-left: 10px;  
    padding-right: 10px; 
  }
}